/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --white: #F9FBFF;
  --dark: #013f66;
  --light: #71b0d8;
  --average: #013f66a4;
  --graient: linear-gradient(#3da454, #45a45d)
}

/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-height: 30vh;
  border-bottom: solid #9e9e9e 1px;
  box-shadow: 0 4px 50px -2px rgb(175, 175, 175);
  gap: min(50px, 15vw);
  padding: 2vh 0;
}

.nba {
  object-fit: contain;
  max-width: 200px;
  max-height: 200px;
}

h1 {
  font-weight: bold;
  font-family: 'Montserrat', 'Helvetica', 'Arial';
  color: #1d428a;
}

h2 {
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #c8102e;
  color: #ffffff;
  text-align: center;
  box-shadow: rgb(0 0 0 / 17%) 0px 3px 5px;
  font-family: 'Helvetica', 'Montserrat', 'Arial';
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-height: 80vh;
  margin: min(40px, 4vh) auto;
}

.card {
  aspect-ratio: 1/ 1;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  max-width: 200px;
  min-width: 90px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  font-weight: bold;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  font-family: 'Montserrat', 'Helvetica', 'Arial';
}

button {
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  font: inherit;
  text-align: center
}

#jordan {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url('./assets/jordan.png');
  background-color: #BA0C2F;
}

#lebron {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/lebron.png);
  background-color: #582C83;
}

#kareem {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/kareem.png);
  background-color: #702F8A;
}

#russell {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/russell.png);
  background-color: #007A33;
}

#magic {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/magic.png);
  background-color: #702F8A;
}

#wilt {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/wilt.png);
  background-color: #002F6C;
}

#bird {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/bird.png);
  background-color: #007A33;
}

#shaq {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/shaq.png);
  background-color: #702F8A;
}

#duncan {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/duncan.png);
  background-color: #8D9093;
}

#kobe {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/kobe.png);
  background-color: #702F8A;
}

#hakeem {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/hakeem.png);
  background-color: #BA0C2F;
}

#oscar {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/oscar.png);
  background-color: #002F6C;
}

#kd {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/kd.png);
  background-color: #707372;
}

#west {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/west.png);
  background-color: #004B87;
}

#steph {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/steph.png);
  background-color: #1D4289;
}

#malone {
  background-image: linear-gradient(to top, black 0%, transparent 25%), url(./assets/malone.png);
  background-color: #552582;
}

.show {
  display: block;
}

.hide {
  display: none;
}